#miCarrusel {
  position: relative;
  background-color: black;
  height: 300px;
  margin: 2em 0;
  width: 100%;
  border: 1px gray solid;
  box-shadow: 3px 3px 10px rgba(100,100,100,.25);
  overflow: hidden;
}

#miCarrusel > ul.botones {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  z-index: 20;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
}

#miCarrusel > ul.botones > li {
  float: left;
  margin-right: .5em;
}

#miCarrusel > ul.botones > li:last-child {
  margin-right: 0;
}

#miCarrusel > ul.botones > li > a {
  background-color: rgba(255,255,255,.5);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 1px rgb(185,185,185) solid;
  transition: all .15s ease;
}

#miCarrusel > ul.botones > li > a:hover, #miCarrusel > ul.botones > li > a.activo {
  background-color: white;
  border-color: rgb(150,150,150);
}

#miCarrusel > .elementos div {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(110%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: all 1.75s ease-in-out;
  filter: grayscale(100%);
  filter: blur(15px);
  z-index: 10;
}

#miCarrusel > .elementos div.activo {
  transform: translateX(0);
  cursor: pointer;
  filter: none;
}



footer p {
  line-height: .75em;
  color: rgb(121,121,121);
}